data/*
env/*
constrained_clustering/*
traj-dist/*
.vscode/*
__pycache__/*
freemove/temp/*
geolife/temp/*
*.tif
*.pyc
*.log
wtest.ipynb
Autoencoder/.ipynb_checkpoints/*
Autoencoder/test.ipynb
freemove/test.ipynb
utils/test.ipynb